
/** background **/
html {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    background-size: 100%;
}

#title {
    position: absolute;
    top: 50%;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
    background-size: 100%;
}

 {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
}

.icon-1 {
    left: 25%;
    position: absolute;
}

.icon-2 {
    left: 45%;
    position: absolute;
}

.icon-3 {
    left: 65%;
    position: absolute;
}

.p-s {
    color: #2F4F4F;
}

.log {
    color: #800080;
    font-style: normal;
    font-family: sans-serif;
}

.flashes {
    color: red;
    margin: 0;
    position: absolute;
    top: 83%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font: 57 14pt "MS Serif";
}

.bet {
    width: 350px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(84, 77, 138);
    font: 57 14pt "Etna";
    border: 3px solid #A52A2A;
    color: #DEB887;
    opacity: .90;
    text-align: center;
}

.st {
border: 2px solid #A4004D;
font: 57 14pt "MS Serif";
background-color: #40404D;
color: white;
border-radius: 10px;
width: 250px;
height: 50px;
}

.st:hover{
border: 2px solid #A4004D;
font: 57 14pt "MS Serif";
background-color: #FFDEAD;
color: white;
border-radius: 10px;
opacity: .50;
}

.st:active{
border: 2px solid blue;
font: 57 14pt "MS Serif";
background-color: #FFDEAD;
color: white;
border-radius: 10px;
width: 240px;
height: 40px;
opacity: .50;
}
items {
    height: 10em;
    position: relative }
.st {
    margin: 0;
    position: absolute;
    top: 78%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
.bet {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.cash {
    color: yellow;
    font: 57 25pt "MS Serif";
}

.result {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    font: 57 150pt "MS Serif";
    color: blue;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

.coll {
    font: 57 40pt "MS Serif";
}