<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles/add_picture.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="form-control-file" id="photo" name="file">
        <img src="{{ avatar }}">
        <div>Login: {{login}} </div>
    </div>
    <button type="submit" class="btn">Отправить</button>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>
</body>
</html>