<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" type="text/css" href="static/styles/home.css">
</head>
<body>
    <div>
        <div class="icon-1">
        <ul>
            <a href="add_picture"><img width="50" height="50" src="static/dev_image/c_u.png" alt="Correct profile"/></a>
            <p class="p-s">Настройки аккаунта</p>
        </ul>
        </div>
        <div class="icon-2">
        <ul>
            <a href="logout"><img width="50" height="50" src="static/dev_image/logout.png" alt="Logout" /></a>
            <p class="p-s">Выйти из аккаунта</p>
        </ul>
        </div>
        <div class="icon-3">
        <ul>
            <a href="about_us"><img width="50" height="50" src="static/dev_image/about_us.png" alt="About us"/></a>
            <p class="p-s">О нас</p>
        </ul>
        </div>
        <div>
            <img src="static/user_images/{{avatar}}" width="200" height="200">
            <p class="log">Login: {{login}}</p>
        </div>
        <form method="post">
            <div class="items">
                <input class="bet" type="number" placeholder="Сделайте ставку" name="bet">
            </div>
        <div class="items">
                <input name="submit" value="Поставить" class="st" type="submit">
        </div>
            <div class="result">
            {{ result }}
            </div>
        </form>
        <div class="cash">Cash: {{cash}} coins</div>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <a class="col" href="\take_money">Забрать ежедневный бонус</a>
    </div>
</body>
</html>