<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style/ver_reg.css">
    <title>Title</title>
</head>
<body>
    <div class="form">
            <h1 class="tit">Регистрация</h1>
            <div class="input-form">
                <input class="login" type="text" placeholder="Придумайте логин">
            </div>
            <div class="input-form">
                <input class="password" type="password" placeholder="Пароль">
            </div>
            <div class="input-form">
                <button class="ver">Войти</button>
                <button class="reg">Зарегистрироваться</button>
            </div>
        </div>
</body>
</html>
