<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles/ver_reg.css">
    <title>Verification</title>
</head>
<body>
    <div class="form">
        <form method="post" action="/home">
            <div class="tit">Вход</div>
            <div class="input-form">
                <input class="login" type="text" placeholder="Логин" name="login">
            </div>
            <div class="input-form">
                <input class="password" type="password" placeholder="Пароль" name="password">
            </div>
            <div class="input-form">
                <button class="ver">Войти</button>
            </div>
            <div class="input-form">
                <a href="\in">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</body>
</html>