:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);

}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.content {
  background: white;
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
}

.title {
  margin: 0 0 .5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: .8;
  margin: 0;

  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  // display: inline-block;
  background-size: 300%;
  transition: background-position 1s;
}

.title:hover {
  background-position: right;
}

.lt_col {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.cash {
    color: yellow;
    font: 57 25pt "MS Serif";
}

.take {
    border: 2px solid #A4004D;
    font: 57 14pt "MS Serif";
    background-color: #40404D;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 50px;
}

.take:hover{
    border: 2px solid #A4004D;
    font: 57 14pt "MS Serif";
    background-color: #FFDEAD;
    color: white;
    border-radius: 10px;
    opacity: .50;
}

.take:active{
    border: 2px solid blue;
    font: 57 14pt "MS Serif";
    background-color: #FFDEAD;
    color: white;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    opacity: .50;
}

.flashes {
    color: #000080;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

.back {
    top: 0%;
    left: 50%;
    position: absolute;
}