<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CollectCash</title>
  <link rel="stylesheet" type="text/css" href="static/styles/col_cash.css">
</head>
<body>
    <div class="back">
<a href="home"><img width="50" height="50" src="static/dev_image/back.png" alt="Correct profile"/></a>
    </div>
  <div class="lt_col">
    Забирали последний раз: {{lt_col}}
  </div>
  <div class="cash">Cash: {{cash}}</div>
   <form method="GET">
        </form>
  <div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      </div>
</body>
</html>